# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Reports
test-report.xml

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache
